/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Table Styles */
.content {
    padding: 20px;
}

.inbox-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
}

.inbox-table th, .inbox-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.inbox-table th {
    background-color: #f2f2f2;
}

.inbox-table tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}


/* Status styling */
.status {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.status::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    border-radius: 50%;
}

/* Status-specific styles */
.status-accepted {
    background-color: #4CAF50; /* Green */
}

.status-accepted::before {
    background-color: #0d5a10;
}

.status-rejected {
    background-color: #f44336; /* Red */
}
    
.status-rejected::before {
    background-color: #701811;
}

.status-pending {
    background-color: #FFC107; /* Yellow/Orange */
    color: black; /* Better contrast for yellow */
}

.status-pending::before {
    background-color: #ff8800;
}
